/* Dizainas */

li {
    list-style: none;
}

a[href*="cv"]:before {
    content: "♛";
    color: black;
    padding-right: 10px;
}

a[href*="darb"]:after {
    content: "♞";
    color: black;
    padding-left: 10px;
}