.container {
    width: 70%;
    margin: 0 auto;
    background-color: silver;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.box {
    box-sizing: border-box;
    background-color: black;
    color: white;
    width: 30%;
    float: left;
    margin: 10px 10px;
    padding: 1em;
}