body {
    width: 50%;
    margin: 5em auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 10em);
    gap: 1em;
    grid-template-areas: "header header header header"
    "article1 article2 article3 article4"
    "article5 article6 article7 article8"
    "footer footer footer footer";
}

header, footer {
    color: white;
    background-color: #02547d;
}

article {
    background-color: #a9e8dc;
}

p {
    padding: 1em;
    margin: 0;
    font-size: 1.2em;
}

header {
    grid-area: header;
}

.article1 {
    grid-area: article1;
}

.article2 {
    grid-area: article2;
}
.article3 {
    grid-area: article3;
}
.article4 {
    grid-area: article4;
}
.article5 {
    grid-area: article5;
}
.article6 {
    grid-area: article6;
}

.article7 {
    grid-area: article7;
}
.articl86 {
    grid-area: article8;
}

footer {
    grid-area: footer;
}