.container {
    width: 500px;
    border: 2px solid darkslategray;
    padding: 2em;
    margin: 5em auto;
}



/* CSS stilius įterpti čia */

li {
    list-style: none
}
li::before {
    content: "\01F7BF";
    color: gray;
}



li.active:before {
    color: goldenrod;
}